{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

{% block extrastyle %}{% endblock %}
{% block extrajs %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<ul id="notifications"></ul>
<!-- Container -->
<div id="gradient">
    <div id="stars">
        <div id="container" {% block containerclass %}{% endblock %}>
            <header>
            {% if not is_popup %}
                <!-- Header -->
                {% block branding %}{% endblock %}
                {% if user.is_active and user.is_staff %}
                <div id="userinfo">
                    <img src="{% load adminmedia %}{% admin_media_prefix %}img/avatar.png" width="55" heigh="55" alt="Bram Jetten" />
                    <div class='intro'> 
                        {% trans 'Welcome,' %}
                        <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
                        {% block userlinks %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                            {% endif %}
                            {% url 'admin:password_change' as password_change_url %}
                            {% if password_change_url %}
                                <a href="{{ password_change_url }}">
                            {% else %}
                                <a href="{{ root_path }}password_change/">
                            {% endif %}
                            {% trans 'Change password' %}</a> /
                            {% url 'admin:logout' as logout_url %}
                            {% if logout_url %}
                                <a href="{{ logout_url }}">
                            {% else %}
                                <a href="{{ root_path }}logout/">
                            {% endif %}
                            {% trans 'Log out' %}</a>
                        {% endblock %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </header>
            {% block nav-global %}{% endblock %}
            <!-- END Header -->
            <!-- The application "window" -->
             <div id="application">
                {% block navigation %}
                <!-- Primary navigation -->
               
                <nav id="primary">
                {% block menu %}
                  <ul>
                    <li class="{% block adm_on %}{%endblock%} cursor">
                      <a href="/admin/">
                        <span class="icon dashboard"></span>
                        Entidades
                      </a>
                    </li>
                    <li class='{% block mod_on %}{%endblock%} cursor'>
                      <a href="/application/">
                        <span class="icon tables"></span>
                        Modelos
                      </a>
                    </li>
                    <li class='{% block csf_on %}{%endblock%} cursor'>
                      <a href="/application/classifier/">
                        <span class="icon chart"></span>
                        <!--<span class="badge">4</span>-->
                        Clasificador
                      </a>
                    </li>
                    <li class='{% block imp_on %}{%endblock%} cursor'>
                      <a href="/application/import/">
                        <span class="icon pencil"></span>
                        Importar Datos
                      </a>
                    </li>
                    <li class='{% block val_on %}{%endblock%} cursor'>
                      <a href="/application/validate/">
                        <span class="icon tables"></span>
                        Validar Datos
                      </a>
                    </li>
                  </ul>
                  {% endblock %}
                  <input type="text" id="search" placeholder="Realtime search..." />
                </nav>

                    <!--
                    
                    
                    <li>
                      <a href="/tables">
                        <span class="icon tables"></span>
                        DataTables
                      </a>
                    </li>


                    
                    <li>
                      <a href="/notifications">
                        <span class="icon modal"></span>
                        Notifcations
                      </a>
                    </li>
                    
                    <li>
                      <a href="/gallery">
                        <span class="icon gallery"></span>
                        Gallery
                      </a>
                    </li>

                    <li>
                      <a href="/buttons">
                        <span class="icon anchor"></span>
                        Icons/buttons
                      </a>
                    </li>     
                    -->

                <!-- Secondary navigation -->
                <nav id="secondary">
                    {% block breadcrumbs %}
                    <div class="breadcrumbs"><a href="/">Home</a>
                    {% if title %} &rsaquo; {{ title }}{% endif %}
                    </div>
                    {% endblock %}
                  <!--
                  <ul>
                    <li class="current"><a href="#">Main tab</a></li>
                    <li><a href="#">Optional second tab</a></li>
                    <li><a href="#">Optional third tab</a></li>
                  </ul>
                  -->
                </nav>
                {% endblock %}

                {% if messages %}
                
                <script type="text/javascript">
                $(document).ready(function(){
                        {% for message in messages %}
                          new Notification("{{ message }}",'information');
                          console.log("{{message.tags}}")
                        {% endfor %}
                });
                </script>
                
                {% endif %}

                <!-- Content -->
                <div id="content" class="{% block coltype %}colM{% endblock %}">
                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
                    {% block content %}{% endblock %}
                    {% block sidebar %}{% endblock %}
                    <br class="clear" />
                </div>
                <!-- END Content -->
            </div>
        {% block footer %}<div id="footer"></div>{% endblock %}
        {% block extrafooter %}{% endblock %}
        </div>
    </div>
</div>
<!-- END Container -->

</body>
</html>
